.mobileScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  background-color: white;
  height: 420px;
  width: 220px;
  box-shadow: 4px 20px 40px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
